* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pomodoro {
  background-color: #f05b56;
}

.short {
  background-color: rgba(100, 164, 168);
}
.long {
  background-color: rgba(91, 141, 189);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#nav1 {
  display: flex;
  flex: 1;
  margin-left: 30vw;
  margin-top: 1vw;
}

#nav2 {
  display: flex;
  margin-right: 20vw;
}

.icon1 {
  align-self: center;
  color: white;
}
.buttonset {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}
h1 {
  color: white !important;
  font-size: large;
}
.lin {
  margin-left: 30vw !important;
  margin-right: 20vw !important;
  margin-top: 0.7vw !important;
}
#time {
  flex: 1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#timestart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 38vw;
  height: 25vw;
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  margin-bottom: 13vw;
}
.button123 {
  display: flex;
  background-color: transparent;
  height: 10%;
  align-items: center;
}
#timenum {
  background-color: cyan;
  height: 50%;
}
#buttonstart {
  background-color: blueviolet;
  height: 20%;
}
.b1 {
  margin: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  font-size: medium;
  font-weight: bold;
  border: 0px solid transparent;
}
#timenum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}
h2 {
  font-size: 7vw;
}
#buttonstart {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#b2 {
  font-size: x-large;
  color: red;
}

@media (max-width: 900px) {
  #nav1 {
    margin-left: 5vw;
  }
  #nav2 {
    margin-right: 5 vw;
  }
  #timestart {
    width: 75vw;
    height: 65vw;
  }
}

p {
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: #bbbbbb;
  align-self: flex-start;
}
.lin2 {
  background-color: #bbbbbb !important;
  height: 4px !important;
  margin-top: 8px !important;
}
.p2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: black;
  align-self: flex-start;
  margin-top: 14px;
}
.inp {
  display: flex;
  flex-direction: row;
  width: 28vw;
}
.settingofinp {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 8px;

  justify-content: center;
  align-items: center;
}
.p3 {
  font-size: 18px;
  font-weight: bold;
  color: #bbbbbb;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  margin: 5px;
}
.inputbox {
  margin: 10px;
  flex: 1;
  width: 8vw;
  padding: 1vw;
  background-color: #efefef;
  border-style: none;
}
.divofsetting {
  width: 28vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
}
.ok {
  width: 5vw;
  height: 3vw;
  align-self: center;
  border-style: solid;
  background-color: transparent;
  margin-top: 10px;
}
.ok:hover {
  background-color: #373737;
  cursor: pointer;
}
.biglin {
  background-color: blanchedalmond !important;
  margin-left: 30vw !important;
  margin-right: 20vw !important;
  transform: scaleY(2);
  width: 1px;
  position: relative;
  top: -1px;
}
